@import "reset.css";

.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Roboto;
}
.title {
    display: flex;
    height: 100px;
    margin-top: 40px;
    font-size: 40pt;
    text-decoration: none;
    color: black;
}
.colortitle {
    color: cornflowerblue;
}
.link_header {
    text-decoration: none;
    color:white;
}
.header_menu {
    background-color: #35444F;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.header_menu_nav {
    display: inline-block;
    /* color: white; */
    font-size: 16pt;
    padding: 20px;
    font-family: Roboto;
    border-left: 1px solid white;
}
.header_menu_nav:hover {
    background-color:#222F3A;
}
.menu_padding {
    margin-left: 250px;
}
.main_content {
    display: flex;
}
.navigation
{
    border: 1px solid grey;
    width: 350px;
    height: 380px;
    margin-top: 25px;
}
.left_menu_nav {
    font-size: 27pt;
    color: #485863;
    padding: 22px 15px 15px 50px;
}
.link_left_menu {
    text-decoration: none;
    color:black;
}
.left_menu_nav:hover{
    font-size: 27pt;
    text-align: center;
    background-color: lightgray;
    transition-duration: 0.7s;
}
.image-border{
    height: 530px;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 25px 0 25px 25px;
    width: 1280px;
}
.image{
    height: 250px;
}
.image:hover{
    height: 400px;
    transition-duration: 1.5s;
}
.main_text {
    margin-left: 380px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 54px;
}
.footer_menu_nav{
    list-style: none;
    display: inline-block;
    font-size: 28px;
    margin: 20px;
    padding-left: 10px;
    color: black;
}
.footer_menu{
    width: 100%;
    background-color: lightgray;
}
.link_footer {
    text-decoration: none;
    color:black;
}
.link_footer:hover {
    text-decoration: underline;
    color: #3181A6;

}
.copyright {
    list-style: none;
    display: inline-block;
    font-size: 23px;
    margin: 20px;
    padding-left: 90px;
}